.footer_section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer_container {
}

.footer_wrap_general {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_wrap_logo {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #2b2c2f;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_logo_link {
}

.footer_logo_svg {
}

.footer_logo_text {
  font-size: 14px;
}

.footer_link_privacy {
  font-size: 14px;
  color: #848484;
}

/* --------navigation---------- */
.footer_wrap_nav_title {
}

.footer_nav_title  {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_wrap_nav {
}

.footer_nav_item {
  margin-bottom: 16px;
}

.footer_nav_item link {
  font-size: 14px;
}

.footer_nav_item span,
.footer_nav_item .footer_nav_dash {
  opacity: 0;
  transition: opacity 0.2s allow-discrete;
  display: none;
}

.footer_nav_item .footer_nav_dash {
  display: inline;
  opacity: 1;
}

.footer_nav_item:hover span,
.footer_nav_item:hover .footer_nav_dash {
  display: inline;
  opacity: 1;
}

.footer_nav_item:hover span,
.footer_nav_item:hover .footer_nav_dash {
  display: inline;
  opacity: 1;
  color: #f2cb12;
}

@starting-style {
  .footer_nav_item:hover span {
    opacity: 0;
  }
}
@starting-style {
  .footer_nav_item:hover span {
    opacity: 0;
  }
}

/* ------------address------------ */

.footer_wrap_adrress {
}

.footer_adrress_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_adrress {
  margin-bottom: 16px;
}

.contactus_address_span {
  font-size: 14px;
  color: #f2cb12;
  margin-right: 10px;
}

.contactus_address_link {
  font-size: 14px;
}

/* ---------social---------- */
.footer_wrap_social {
}

.footer_social_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_social_list {
  display: flex;
  gap: 24px;
}

.footer_social_item {
}

.footer_social_wrap_address {
}

.footer_social_link {
}

.footer_social_logo_svg {
}

.footer_social_text_company {
  font-size: 14px;
  color: #848484;
}
