.footer_section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer_wrap_general {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_wrap_logo {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #2b2c2f;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_logo_text {
  font-size: 14px;
}

.footer_link_privacy {
  font-size: 14px;
  color: #848484;
}

/* --------navigation---------- */

.footer_wrap_sub {
  margin-top: 20px;
}

.footer_nav_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_nav_item {
  margin-bottom: 16px;
}

.footer_nav_item link {
  font-size: 14px;
}

.footer_nav_item span,
.footer_nav_item .footer_nav_dash {
  opacity: 0;
  transition: opacity 0.2s allow-discrete;
  display: none;
}

.footer_nav_item .footer_nav_dash {
  display: inline;
  opacity: 1;
}

.footer_nav_item:hover span,
.footer_nav_item:hover .footer_nav_dash {
  display: inline;
  opacity: 1;
}

.footer_nav_item:hover span,
.footer_nav_item:hover .footer_nav_dash {
  display: inline;
  opacity: 1;
  color: #f2cb12;
}

@starting-style {
  .footer_nav_item:hover span {
    opacity: 0;
  }
}
@starting-style {
  .footer_nav_item:hover span {
    opacity: 0;
  }
}

/* ------------address------------ */

.footer_adrress_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 20px;
}

.footer_adrress {
  margin-bottom: 20px;
  margin-top: 16px;
}

.contactus_address_span {
  font-size: 14px;
  color: #f2cb12;
  margin-right: 10px;
}

.contactus_address_link {
  font-size: 14px;
}

/* ---------social---------- */
.footer_wrap_social {
}

.footer_social_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_social_list {
  display: flex;
  gap: 24px;
}

.footer_social_text_company {
  font-size: 14px;
  color: #848484;
}
/* -------------------768px---------------------- */
@media screen and (min-width: 768px) {
  .footer_section {
    padding-bottom: 30px;
  }

  .footer_wrap_general {
    gap: 32px;
  }

  .footer_wrap_sub {
    display: flex;
    flex-direction: row;
    gap: 93.5px;
    margin-top: 32px;
  }

  .footer_wrap_logo {
    padding: 0px 0px 32px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .footer_logo_text {
    font-size: 16px;
  }

  .footer_link_privacy {
    font-size: 16px;
  }

  /* --------navigation-768px---------  */
  .footer_wrap_nav {
    width: 120px;
  }

  .footer_nav_title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .footer_nav_item {
    margin-bottom: 24px;
  }

  .footer_nav_item link {
    font-size: 16px;
  }

  /* ------------address------------ */

  .footer_wrap_adrress {
    width: 255px;
  }
  .footer_adrress_title {
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  .footer_adrress {
    margin-bottom: 24px;
    margin-top: 0;
  }

  .contactus_address_span {
    font-size: 16px;
  }

  .contactus_address_link {
    font-size: 16px;
  }
  /* ---------social---------- */

  .footer_social_title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .footer_social_text_company {
    font-size: 16px;
  }
}
/* -----------------------1440px--------------------- */

@media screen and (min-width: 1440px) {
  .footer_section {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .footer_wrap_logo_sub {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }
  .footer_wrap_general {
    gap: 0px;
  }

  .footer_wrap_logo {
    padding: 0px 111px 0px 0px;
    margin-right: 111px;
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    border-right: 1px solid #2b2c2f;
    align-items: self-start;
  }

  .footer_social_text_company {
    text-align: center;
  }
}
