.footer_section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.footer_container {
}

.footer_wrap_general {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_wrap_logo {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #2b2c2f;
}
.footer_logo_link {
}

.footer_logo_svg {
}

.footer_logo_text {
  font-size: 14px;
}

.footer_link_privacy {
  font-size: 14px;
  color: #848484;
}

/* --------navigation---------- */

.footer_wrap_navigation {
}

.footer_navigation_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_navigation_list {
}

.footer_navigation_item {
  margin-bottom: 16px;
}

.footer_navigation_link {
  font-size: 14px;
}

.footer_navigation_quote {
  display: none;
}

.footer_navigation_link:hover .footer_navigation_quote {
  display: inline-block;
  color: #f2cb12;
}

.footer_navigation_link:hover .footer_navigation_dash {
  color: #f2cb12;
}

/* ------------address------------ */

.footer_wrap_adrress {
}

.footer_adrress_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer_adrress {
  margin-bottom: 16px;
}

.contactus_address_span {
  font-size: 14px;
  color: #f2cb12;
  margin-right: 5px;
}

.contactus_address_link {
  font-size: 14px;
}

/* ---------social---------- */
.footer_wrap_social {
}

.footer_social_title {
  font-size: 14px;
  color: #f2cb12;
  font-weight: 400;
}

.footer_social_list {
}

.footer_social_item {
}

.footer_social_wrap_address {
}

.footer_social_link {
}

.footer_social_logo_svg {
}

.footer_social_text_company {
  font-size: 14px;
  color: #848484;
}
