@media screen and (min-width: 768px) {
  .notfound_logo {
    width: 240.2px;
    height: 191px;
  }
}

@media screen and (min-width: 1440px) {
  .notfound_logo {
    width: 274px;
    height: 218px;
  }
}
