@import 'variables.css';

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 14px;
  overflow: hidden;
}

.burger_line {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--white-color);
  transition:
    transform 0.43s,
    opacity 0.43s;
}

.burger.active .burger_line {
  width: 50px;
}

.burger.active .burger_line:first-child {
  transform: rotate(50grad) translate3d(7px, 4px, 0);
}

.burger.active .burger_line:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

.burger.active .burger_line:last-child {
  transform: rotate(-50grad) translate3d(4px, -2px, 0);
}
