.contactus_section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.contactus_container {
}

.contactus_wrap_general {
  background-color: #191a1d;
  border: 1px solid #2b2c2f;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contactus_wrap_title_address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactus_wrap_title {
}

.contactus_title {
  font-size: 26px;
  margin-bottom: 16px;
}

.contactus_text {
  font-size: 14px;
  color: #848484;
}

.contactus_address {
}

.contactus_address_list {
}

.contactus_address_item {
  margin-bottom: 16px;
}

.contactus_address_item_title {
  font-size: 18px;
  margin-bottom: 4px;
}

.contactus_address_item_text {
  font-size: 14px;
  color: #848484;
  margin-bottom: 6px;
}

.contactus_address_item_link {
  font-size: 18px;
  color: #f2cb12;
  font-weight: 450;
}

.contactus_wrap_form_general {
  padding: 12px;
  border-radius: 10px;
  background-color: #1c1e21;
  display: flex;
  flex-direction: column;
}

.contactus_form_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.contactus_form_text {
  font-size: 14px;
  color: #848484;
  text-align: center;
  margin-top: 16px;
}
/* ------------------------------------------ */
.contactus_form_container {
}

.contactus_form {
}

/* ------------------------------------ */
.contactus_form_checkbox_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 29px;
  margin-bottom: 20px;
}

.contactus_form_checkbox_wrap {
  position: relative;
}

.contactus_form_checkbox_button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.contactus_form_checkbox_label {
  font-size: 14px;
  color: #848484;
  border-radius: 33px;
  background-color: #232429;
  padding: 10px 15px;
  text-align: center;
}

.contactus_form_checkbox_button:checked + .contactus_form_checkbox_label {
  color: #121316;
  background-color: #f2cb12;
  transform: scale(1.1, 1.1);
}
/* -------------------------------------------- */

.contactus_form_input_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.contactus_form_input_sub_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_wrap {
}

.form_input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: var(--font-sora);
  color: #848484;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 6px;
  border: 1px solid #2b2c2f;
  padding: 11px 30px 10px 20px;
}

.form_wrap_message {
}

.form_input_user_comment {
  width: 100%;
  height: 120px;
  font-size: 14px;
  font-family: var(--font-sora);
  color: #848484;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 6px;
  border: 1px solid #2b2c2f;
  padding: 16px 20px 24px 20px;
  resize: none;
  overflow-y: hidden;
}
/* ----------------------------------- */

.form_checkbox_privacy_btn {
}

.checkbox_input {
}

.checkbox_custom_label {
  line-height: 1.312;
  font-size: 13px;
  color: #848484;
  cursor: pointer;
}

.checkbox_icon_span {
  margin-right: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1.5px solid #2b2c2f;
  width: 20px;
  height: 20px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox_link {
  color: #f2cb12;
  margin-left: 8px;
}

.checkbox_input:checked + .checkbox_custom_label > .checkbox_icon_span {
  stroke: #f2cb12;
}
/* ---------------------------- */

.contactus_form_button {
  width: 100%;
  font-family: var(--font-fira-code);
  font-size: 18px;
  color: #848484;
  background-color: #2b2c2f;
  margin-top: 16px;
}

/* -------------------------------768px-------------------------- */

@media screen and (min-width: 768px) {
  .contactus_section {
    padding-top: 64px;
  }

  .contactus_wrap_general {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .contactus_wrap_title_address {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }

  .contactus_title {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .contactus_text {
    font-size: 16px;
  }
  .contactus_address_item {
    margin-bottom: 20px;
  }

  .contactus_address_item_title {
    font-size: 20px;
  }

  .contactus_wrap_form_general {
    padding: 20px;
  }

  .contactus_form_title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .contactus_form_text {
    font-size: 16px;
  }

  .contactus_form_checkbox_container {
    flex-wrap: nowrap;
    margin-bottom: 39px;
  }
  /* ----------------------- */
  .contactus_form_input_wrap {
    gap: 20px;
    margin-bottom: 32px;
  }

  .contactus_form_input_sub_wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  .form_wrap {
    flex-grow: 1;
  }

  .form_input {
    font-size: 16px;
    padding: 11px 30px 7px 20px;
  }
  .form_input_user_comment {
    font-size: 16px;
  }

  /* --------------------------------------- */

  .checkbox_custom_label {
    font-size: 15px;
  }

  .checkbox_icon_span {
    margin-right: 15px;
    width: 22px;
    height: 22px;
  }

  .checkbox_link {
    color: #f2cb12;
    margin-left: 8px;
  }

  /* ---------------------------- */

  .contactus_form_button {
    font-size: 20px;
    margin-top: 18px;
  }
}

/* --------------------1440px------------------- */

@media screen and (min-width: 1440px) {
  .contactus_section {
    padding-top: 63px;
    padding-bottom: 42px;
  }

  .contactus_wrap_general {
    padding: 30px 38px 30px 38px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contactus_wrap_title_address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contactus_wrap_form_general {
    padding: 32px;
  }

  .contactus_form_title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
