.hero_section {
  padding-top: 40px;
  padding-bottom: 50px;
}

.hero_container {
}

.hero_title {
  font-size: 36px;
}

.hero_quotes,
.hero_stop {
  color: #f2cb12;
}

.hero_text {
  /* font-size: 16px;
  font-weight: 400; */
  line-height: 1.5;
}

.hero_button {
  font-size: 18px;
  /* text-align: center; */
  /* padding: 10px;
  border-radius: 8px; */
  width: 100%;
}

.aboutus_subtitle {
  font-size: 16px;
  color: #313234;
}

.aboutus_title {
  font-size: 26px;
}

.aboutus_list {
}

.aboutus_item {
}

.aboutus_span {
  font-family: var(--font-fira-code);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.31;
  color: #f2cb12;
}

.aboutus_item_title {
  font-size: 18px;
}
