.hero_section {
  padding-top: 40px;
  padding-bottom: 50px;
}

.hero_container {
}

.hero_title {
  font-size: 36px;
  margin-bottom: 16px;
}

.hero_span {
  color: #f2cb12;
}

.hero_text {
  margin-bottom: 20px;
}

.hero_button {
  font-size: 18px;
  width: 100%;
  margin-bottom: 50px;
}

.aboutus_subtitle {
  font-size: 16px;
  color: #313234;
  margin-bottom: 12px;
}

.aboutus_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.aboutus_list {
}

.aboutus_item {
  display: flex;
  gap: 59px;
  margin-bottom: 12px;
  align-items: center;
}

.aboutus_item_second {
  gap: 21px;
}

.aboutus_span {
  font-family: var(--font-fira-code);
  font-size: 64px;
  font-weight: 600;
  line-height: 1.31;
  color: #f2cb12;
}

.aboutus_item_title {
  font-size: 18px;
}
