.ourfeatures_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourfeatures_container {
}

.ourfeatures_subtitle {
  font-size: 16px;
  color: #313234;
  margin-bottom: 16px;
}

.ourfeatures_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.ourfeatures_list {
}

.ourfeatures_item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2b2c2f;
  background-color: #191a1d;
  margin-bottom: 16px;
}

.ourfeatures_item_title {
  font-size: 24px;
  margin-bottom: 12px;
}

.ourfeatures_item_text {
  font-size: 14px;
  color: #848484;
  margin-bottom: 16px;
}

.ourfeatures_list_subtitle {
  width: 278px;
  margin: 0 auto;
}

.ourfeatures_list_subtitle li {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 8px 8px 16px;
  border-radius: 1440px;
  margin-bottom: 40px;
}

.ourfeatures_list_subtitle p {
  font-family: var(--font-fira-code);
  font-weight: 450;
  border-radius: 1440px;
  width: 214px;
}

.ourfeatures_item_subtitle_first {
  background-color: #1e1f22;
}

.ourfeatures_item_subtitle_first p {
  background-color: #191a1d;
  padding: 4px 35.05px;
}

.ourfeatures_item_subtitle_second {
  background-color: #2b2b2b;
}

.ourfeatures_item_subtitle_second p {
  background-color: #242526;
  padding: 4px 33.95px;
}

ul li .ourfeatures_item_subtitle_three {
  background-color: #ffcc01;
}

.ourfeatures_item_subtitle_three p {
  background-color: #edbe01;
  padding: 4px 14.16px;
}

/* --------------------------Scalability--360px------------------------------------------ */
.ourfeatures_wrap_img_scalability_general {
  padding: 0 10px;
  /* border: 0.5px solid rgb(255, 0, 0); */
}

.ourfeatures_img_scalability_list {
  /* border: 0.5px solid rgb(9, 255, 0); */
  display: flex;
  justify-content: space-between;
}
/* -----------TrendUp --360px------------------------------------------ */
.ourfeatures_wrap_img_scalability_general .ourfeatures_item_trendup {
  align-self: flex-start;
}

.ourfeatures_item_trendup {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  z-index: 5;
}

.ourfeatures_text_trendup {
  color: #ffcc01;
  font-family: var(--font-fira-code);
  font-size: 5px;
  font-weight: 450;
  line-height: 1.5;
  padding: 1px 4px;
  border-radius: 11px;
  border: 1px solid #5e5e5e;
  background-color: #2b2b2b;
}

.ourfeatures_trendup_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2b2b2b;
  padding: 9px;
}

/* -----------Driver--360px------------------------------------------ */
.ourfeatures_item_wrap_text_driver {
}

.ourfeatures_list_text_driver {
  position: relative;
}

.ourfeatures_item_driver {
}

.driver_three {
  padding: 13px;
  background-color: rgba(115, 115, 115, 0.05);
  border-radius: 50%;
  border: 1px dashed rgba(94, 94, 94, 0.35);
}

.driver_second {
  padding: 12px;
  background-color: rgba(48, 48, 48, 0.37);
  border-radius: 50%;
  border: 1px dashed rgba(94, 94, 94, 0.74);
}

.driver_first {
  padding: 17px;
  background-color: #2b2b2b;
  border-radius: 50%;
  border: 1px dashed #4e4e4e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourfeatures_item_text_driver {
  position: absolute;
  top: 99px;
  left: 16%;
  z-index: 20;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 11px;
  border: 1px solid #5e5e5e;
  background-color: #2b2b2b;
}

.ourfeatures_text_driver {
  color: #f2cb12;
  font-family: var(--font-fira-code);
  font-size: 6px;
  font-weight: 450;
  line-height: 1.5;
}

/* -----------AddSquare --360px------------------------------------------ */
.ourfeatures_wrap_img_scalability_general .ourfeatures_item_addsquare {
  align-self: flex-end;
}

.ourfeatures_item_addsquare {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  z-index: 5;
}
.ourfeatures_text_addsquare {
  color: #ffcc01;
  font-family: var(--font-fira-code);
  font-size: 5px;
  font-weight: 450;
  line-height: 1.5;
  padding: 1px 4px;
  border-radius: 11px;
  border: 1px solid #5e5e5e;
  background-color: #2b2b2b;
}

.ourfeatures_addsquare_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2b2b2b;
  padding: 9px;
}

/* -------------------------------- */

/* --------Comprehensive tech stack-360px----------------------------- */

.ourfeatures_wrap_img_сomprehensive_general {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeIn 1.5s ease-in-out;
  animation-delay: 0.5s;
}

.ourfeatures_item_shieldtick,
.ourfeatures_item_global,
.ourfeatures_item_maximize3 {
  position: absolute;
  visibility: visible;
  pointer-events: none;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------shieldtick--360px--------------------------- */

.ourfeatures_item_shieldtick {
  top: 90px;
  left: -2px;
  animation: complexPulse 4s infinite;
}
/* --------------------------------global--360px-------------------------------- */
.ourfeatures_item_global {
  bottom: 180px;
  left: 270px;
  animation: complexPulse 4s infinite;
}

/* --------------------------------maximize3--360px-------------------------------- */
.ourfeatures_item_maximize3 {
  bottom: 20px;
  right: 30px;
  animation: complexPulse 4s infinite;
}

@keyframes complexPulse {
  0% {
    transform: scale(1);
    background-color: rgba(39, 40, 43, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1.15);
    background-color: #191a1d;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  }
  100% {
    transform: scale(1);
    background-color: rgba(39, 40, 43, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

/* -------------------------codecircle--360px--------------------------- */

.ourfeatures_item_codecircle {
  display: flex;
}

.ourfeatures_codecircleborder_first {
  border-radius: 8px;
  border: 1px dashed #656566;
  background: rgba(39, 40, 43, 0.5);
  padding: 19px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourfeatures_codecircleborder_second {
  border-radius: 8px;
  border: 1px dashed rgba(104, 104, 104, 0.33);
  padding: 32px;
}

.ourfeatures_codecircle_border_three {
  border-radius: 8px;
  border: 1px dashed rgba(104, 104, 104, 0.18);
  padding: 32px;
}

/* -----------------------Tailored solutions-360px----------------------------- */

.ourfeatures_img_tailored_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgb(9, 255, 0);
}
/* -------------people--profile--360------------- */

.ourfeatures_item_profile,
.ourfeatures_item_people {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  position: relative;
  z-index: 5;
}

.ourfeatures_profile_svg,
.ourfeatures_people_svg {
  border-radius: 50%;
  background-color: #2b2b2b;
  box-shadow: 0 0 0 9px #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decor_profile::before,
.decor_people::before {
  content: '';
  position: absolute;
  border: 1px solid;
  /* opacity: 18%; */
  animation: moveGradient 6s ease-in-out infinite;
}

.decor_profile::before {
  left: -19px;
  top: 39px;
  width: 25px;
  border-image: linear-gradient(to right, #6868683d, #ffcc01) 1;
}
.decor_people::before {
  right: -23px;
  top: 39px;
  width: 39px;
  border-image: linear-gradient(to left, #6868683d, #ffcc01) 1;
}

.ourfeatures_text_profile,
.ourfeatures_text_people {
  font-family: var(--font-fira-code);
  font-size: 7px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 1px 5px;
  border-radius: 28px;
}

.ourfeatures_text_people {
  white-space: nowrap;
}

@keyframes moveGradient {
  0%,
  100% {
    border-image-source: linear-gradient(to right, #6868683d, #ffcc01);
  }
  50% {
    border-image-source: linear-gradient(to right, #ffcc01, #6868683d);
  }
}

/* -----------lamp-360------------ */
.ourfeatures_item_wrap_text_lamp {
  z-index: 5;
}

.ourfeatures_list_text_lamp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.ourfeatures_item_lamp {
}

.outer_circle {
  animation: blinkLamp 3s infinite;
  padding: 20px;
  background-color: #4c441f;
  border: 1px solid #554d2a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_first {
  animation: blinkLamp 4s infinite;
  padding: 15px;
  background: radial-gradient(
    circle,
    rgba(36, 37, 38, 1) 80%,
    rgba(36, 37, 38, 1) 100%
  );
  border: 1px solid #2f3031;
  border-radius: 50%;
}

.circle_second {
  animation: blinkLamp 4s infinite;
  padding: 17px;
  background: radial-gradient(
    circle,
    rgba(30, 31, 34, 1) 80%,
    rgba(30, 31, 34, 1) 100%
  );
  border: 1px solid #292a2d;
  border-radius: 50%;
}

.ourfeatures_item_text_lamp {
  position: absolute;
  display: inline-block;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 3px;
  border-radius: 11px;
}

.ourfeatures_text_lamp {
  font-family: var(--font-fira-code);
  font-size: 8px;
  font-weight: 450;
  line-height: 1.5;
  color: #f2cb12;
}

@keyframes blinkLamp {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
}

/* ------------arrow_right--arrow_left--360px---------------------- */

.ourfeatures_arrow_right,
.ourfeatures_arrow_left {
  display: flex;
  position: absolute;
}

.ourfeatures_arrow_right span,
.ourfeatures_arrow_left span {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  /* border-bottom: 3px solid #2c2c2c;
  border-right: 3px solid #2c2c2c; */
  border-bottom: 3px solid #00ff2a;
  border-right: 3px solid #00ff00;
}

.ourfeatures_arrow_right span {
  top: 0.5px;
  left: 254px;
  transform: rotate(135deg);
  animation: ourfeatures-arrow-right 2s infinite;
}

.ourfeatures_arrow_left span {
  top: 0.5px;
  right: -24px;
  transform: rotate(-45deg);
  animation: ourfeatures-arrow-left 2s infinite;
}

@keyframes ourfeatures-arrow-right {
  0% {
    opacity: 0;
    transform: translateX(0) rotate(135deg);
  }
  50% {
    opacity: 1;
    transform: translateX(-15px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-35px) rotate(135deg);
  }
}

@keyframes ourfeatures-arrow-left {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(-45deg);
  }
  50% {
    opacity: 1;
    transform: translateX(15px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(35px) rotate(-45deg);
  }
}

.ourfeatures_arrow_left span:nth-child(2) {
  animation-delay: 0.2s;
}

.ourfeatures_arrow_left span:nth-child(3) {
  animation-delay: 0.4s;
}

.ourfeatures_arrow_right span:nth-child(2) {
  animation-delay: -0.2s;
}
.ourfeatures_arrow_right span:nth-child(3) {
  animation-delay: -0.4s;
}

/* -------------------------------768px-------------------------- */
@media screen and (min-width: 768px) {
  .ourfeatures_section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .ourfeatures_subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ourfeatures_title {
    font-size: 42px;
    margin-bottom: 32px;
  }

  .ourfeatures_item {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .ourfeatures_item_title {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .ourfeatures_item_text {
    font-size: 16px;
  }

  /* --------Comprehensive tech stack-768px----------------------------- */
  .ourfeatures_wrap_img_сomprehensive_general {
    padding: 13px 158px;
  }

  /* -------------------------shieldtick--768px--------------------------- */

  .ourfeatures_item_shieldtick {
    top: 111px;
    left: 153px;
  }
  /* --------------------------------global--768px-------------------------------- */
  .ourfeatures_item_global {
    bottom: 220px;
    left: 478px;
  }

  /* --------------------------------maximize3--768px------------------------------- */
  .ourfeatures_item_maximize3 {
    bottom: 33px;
    right: 189px;
  }

  /* -------------------------codecircle--768px--------------------------- */

  .ourfeatures_codecircleborder_first {
    padding: 18px 53px;
  }

  .ourfeatures_codecircleborder_second {
    padding: 40px;
  }
  .ourfeatures_codecircle_border_three {
    padding: 35px;
  }

  /* ---------------------Tailored solutions--768px---------------------- */

  .ourfeatures_wrap_img_tailored_general {
    padding-left: 26px;
    padding-right: 18px;
    padding-top: 16px;
  }

  /* ---------------people--profile-768px------------- */

  .ourfeatures_item_profile,
  .ourfeatures_item_people {
    gap: 19px;
    padding-top: 45px;
  }

  .decor_people::before {
    width: 98px;
    top: 49%;
    right: -65.5px;
  }

  .decor_profile::before {
    width: 97px;
    top: 49%;
    left: -81.5px;
  }
  /* --------- */

  .ourfeatures_text_people,
  .ourfeatures_text_profile {
    font-size: 14px;
    padding: 3px 9px;
  }

  .ourfeatures_profile_svg,
  .ourfeatures_people_svg {
    box-shadow: 0 0 0 12px #2b2b2b;
  }

  /* -----------lamp--768px----------- */

  .outer_circle {
    padding: 39px;
  }

  .circle_first {
    padding: 30px;
  }

  .circle_second {
    padding: 35px;
  }

  .ourfeatures_item_text_lamp {
    padding: 7px 9px;
  }

  .ourfeatures_text_lamp {
    font-size: 16px;
  }

  /* ------------arrow_right--768px---------------------- */

  .ourfeatures_arrow_right span {
    top: 0.5px;
    left: 245px;
    width: 16px;
    height: 16px;
  }

  /* -------arrow_left--768px--------- */

  .ourfeatures_arrow_left span {
    top: 0.5px;
    right: 230px;
    width: 16px;
    height: 16px;
  }

  @keyframes ourfeatures-arrow-right {
    0% {
      opacity: 0;
      transform: translateX(0) rotate(135deg);
    }
    50% {
      opacity: 1;
      transform: translateX(-30px) rotate(135deg);
    }
    100% {
      opacity: 0;
      transform: translateX(-60px) rotate(135deg);
    }
  }

  @keyframes ourfeatures-arrow-left {
    0% {
      opacity: 0;
      transform: translateX(0px) rotate(-45deg);
    }
    50% {
      opacity: 1;
      transform: translateX(30px) rotate(-45deg);
    }
    100% {
      opacity: 0;
      transform: translateX(60px) rotate(-45deg);
    }
  }
}

/* ----------------Пульсация текста-------------------------- */

/* @keyframes pulseText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ourfeatures_text_people,
.ourfeatures_text_lamp,
.ourfeatures_text_profile {
  animation: pulseText 1s infinite;
} */
/* -------------------Движение элементов------------------------------ */

/* @keyframes moveLamp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.ourfeatures_item_lamp {
  animation: moveLamp 4s infinite ease-in-out;
} */

/* ------------ Вращение иконки--------------- */

/* @keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ourfeatures_img_people {
  animation: rotateIcon 5s infinite linear;
} */

/* --------------------------------------------------- */
