.ourfeatures_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourfeatures_container {
}

.ourfeatures_subtitle {
  font-size: 16px;
  color: #313234;
  margin-bottom: 16px;
}

.ourfeatures_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.ourfeatures_list {
}

.ourfeatures_item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2b2c2f;
  background-color: #191a1d;
  margin-bottom: 16px;
}

.ourfeatures_item_title {
  font-size: 24px;
  margin-bottom: 12px;
}

.ourfeatures_item_text {
  font-size: 14px;
  color: #848484;
  margin-bottom: 16px;
}

.ourfeatures_list_subtitle {
}

.ourfeatures_list_subtitle li {
  display: flex;
  gap: 8px;
  padding: 8px 8px 8px 16px;
  border-radius: 1440px;
  margin-bottom: 40px;
}

.ourfeatures_list_subtitle p {
  font-family: var(--font-fira-code);
  font-weight: 450;
  border-radius: 1440px;
}

.ourfeatures_item_subtitle_first {
  background-color: #1e1f22;
}

.ourfeatures_item_subtitle_first p {
  background-color: #191a1d;
  padding: 4px 35.05px;
}

.ourfeatures_item_subtitle_second {
  background-color: #2b2b2b;
}

.ourfeatures_item_subtitle_second p {
  background-color: #242526;
  padding: 4px 33.95px;
}

ul li .ourfeatures_item_subtitle_three {
  margin-bottom: 19px;
  background-color: #ffcc01;
}

.ourfeatures_item_subtitle_three p {
  background-color: #edbe01;
  padding: 4px 14.16px;
}
/* -------------------------------------------------------- */

.ourfeatures_wrap_img_tailored_general {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 624px;
  height: 299px;
  box-sizing: border-box;
}

.ourfeatures_img_tailored_list {
  display: flex;
  position: absolute;
}

/* ------------------------------ */

.ourfeatures_item_people {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -1%;
  top: 12px;
}

.decor_people {
  position: relative;
}

.decor_people::before {
  content: '';
  position: absolute;
  width: 462px;
  top: 41%;
  left: 72%;
  border: 1px solid #6868683d;
  opacity: 24%;
}

.ourfeatures_img_people {
  border-radius: 50%;
  background-color: #2b2b2b;
  box-shadow: 0 0 0 12px #2b2b2b;
}

.ourfeatures_text_people {
  font-family: var(--font-fira-code);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 4px 10px 4px 10px;
  border-radius: 28px;
}

/* -------------------- */

.ourfeatures_item_arrow_left {
  position: relative;
  left: -3.5%;
  top: 115px;
}

.ourfeatures_img_wrap_arrow_left,
.ourfeatures_item_wrap_arrow_right {
  display: flex;
}

.ourfeatures_item_wrap_arrow_left,
.ourfeatures_item_wrap_arrow_right {
  display: flex;
}

.ourfeatures_item_arrow_right {
  position: relative;
  left: 1%;
  top: 115px;
}

/* ------------------------ */

.ourfeatures_item_lamp {
  position: relative;
  top: -8px;
}

.outer_circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #4c441f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle_first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #242526;
}

.circle_second {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #1e1f22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourfeatures_img_lamp {
  animation: blinkLamp 2s infinite;
  position: relative;
  left: 0px;
  top: 20px;
}

.ourfeatures_text_lamp {
  font-family: var(--font-fira-code);
  font-size: 16px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 8px 10px 8px 10px;
  border-radius: 11px;
  position: relative;
  top: 100px;
  left: 0px;
}

@keyframes blinkLamp {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* ---------------------- */

.ourfeatures_item_profile {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1%;
  top: 12px;
  z-index: 5;
}

.decor_profile {
  position: relative;
}

.ourfeatures_text_profile {
  font-family: var(--font-fira-code);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 4px 10px 4px 10px;
  border-radius: 28px;
}

.ourfeatures_img_profile {
  border-radius: 50%;
  background-color: #2b2b2b;
  box-shadow: 0 0 0 12px #2b2b2b;
}

/* ---------------------- */

/* @keyframes moveTeam {
  0% {
    left: 50px;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 50px;
  }
}

@keyframes moveCustomer {
  0% {
    right: 70px;
  }
  50% {
    right: 30%;
  }
  100% {
    right: 70px;
  }
} */

/* @keyframes blinkLamp {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
} */

/* ----------------Пульсация текста-------------------------- */

/* @keyframes pulseText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ourfeatures_text_people,
.ourfeatures_text_lamp,
.ourfeatures_text_profile {
  animation: pulseText 1s infinite;
} */
/* -------------------Движение элементов------------------------------ */

/* @keyframes moveLamp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.ourfeatures_item_lamp {
  animation: moveLamp 4s infinite ease-in-out;
} */

/* ------------ Вращение иконки--------------- */

/* @keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ourfeatures_img_people {
  animation: rotateIcon 5s infinite linear;
} */

/* --------------------------------------------------- */
