.ourfeatures_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourfeatures_container {
}

.ourfeatures_subtitle {
  font-size: 16px;
  color: #313234;
  margin-bottom: 16px;
}

.ourfeatures_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.ourfeatures_list {
}

.ourfeatures_item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2b2c2f;
  background-color: #191a1d;
  margin-bottom: 16px;
}

.ourfeatures_item_title {
  font-size: 24px;
  margin-bottom: 12px;
}

.ourfeatures_item_text {
  font-size: 14px;
  color: #848484;
  margin-bottom: 16px;
}

.ourfeatures_list_subtitle {
}

.ourfeatures_list_subtitle li {
  display: flex;
  gap: 8px;
  padding: 8px 8px 8px 16px;
  border-radius: 1440px;
  margin-bottom: 40px;
}

.ourfeatures_list_subtitle p {
  font-family: var(--font-fira-code);
  font-weight: 450;
  border-radius: 1440px;
}

.ourfeatures_item_subtitle_first {
  background-color: #1e1f22;
}

.ourfeatures_item_subtitle_first p {
  background-color: #191a1d;
  padding: 4px 35.05px;
}

.ourfeatures_item_subtitle_second {
  background-color: #2b2b2b;
}

.ourfeatures_item_subtitle_second p {
  background-color: #242526;
  padding: 4px 33.95px;
}

ul li .ourfeatures_item_subtitle_three {
  margin-bottom: 19px;
  background-color: #ffcc01;
}

.ourfeatures_item_subtitle_three p {
  background-color: #edbe01;
  padding: 4px 14.16px;
}
/* -------------------------------------------------------- */

.ourfeatures_wrap_img_tailored_general {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 624px;
  height: 299px;
  box-sizing: border-box;
}

.ourfeatures_img_tailored_list {
  display: flex;
  position: absolute;
}

/* ------------------------------ */

.ourfeatures_item_people {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -11%;
  top: 12px;
  z-index: 5;
}

.decor_people {
  position: relative;
}

.decor_people::before {
  content: '';
  position: absolute;
  width: 101px;
  top: 41%;
  left: 72.5%;
  border: 1px solid;
  opacity: 18%;
  border-image: linear-gradient(to left, #6868683d, #ffcc01) 1;
  animation: moveGradient 6s ease-in-out infinite;
}

.ourfeatures_img_people {
  border-radius: 50%;
  background-color: #2b2b2b;
  box-shadow: 0 0 0 12px #2b2b2b;
}

.ourfeatures_text_people {
  font-family: var(--font-fira-code);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 4px 10px 4px 10px;
  border-radius: 28px;
  white-space: nowrap;
}

/* ------------------------ */

.ourfeatures_item_lamp {
  position: relative;
  top: -8px;
  right: -107px;
}

.outer_circle {
  animation: blinkLamp 3s infinite;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid;
  background-color: #4c441f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #554d2a;
}

.circle_first {
  animation: blinkLamp 4s infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(36, 37, 38, 1) 80%,
    rgba(36, 37, 38, 1) 100%
  );
  border: 1px solid #2f3031;
}

.circle_second {
  animation: blinkLamp 4s infinite;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(30, 31, 34, 1) 80%,
    rgba(30, 31, 34, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #292a2d;
}

.ourfeatures_img_lamp {
  animation: blinkLamp 3s infinite;
  position: relative;
  left: 0%;
  top: 0%;
}

.ourfeatures_text_lamp {
  font-family: var(--font-fira-code);
  font-size: 16px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 8px 10px 8px 10px;
  border-radius: 11px;
  opacity: 15;
  position: relative;
  top: 88.5%;
  left: -65.5%;
}

@keyframes blinkLamp {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.85;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------- */

.ourfeatures_item_profile {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -11%;
  top: 12px;
  z-index: 5;
}

.decor_profilet {
  position: relative;
}

.decor_profile::before {
  content: '';
  position: absolute;
  width: 83px;
  top: 41%;
  left: -75%;
  border: 1px solid;
  opacity: 18%;
  border-image: linear-gradient(to right, #6868683d, #ffcc01) 1;
  animation: moveGradient 6s ease-in-out infinite;
}

@keyframes moveGradient {
  0% {
    border-image-source: linear-gradient(to right, #6868683d, #ffcc01);
  }
  50% {
    border-image-source: linear-gradient(to right, #ffcc01, #6868683d);
  }
  100% {
    border-image-source: linear-gradient(to right, #6868683d, #ffcc01);
  }
}

.ourfeatures_text_profile {
  font-family: var(--font-fira-code);
  font-size: 14px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 4px 10px 4px 10px;
  border-radius: 28px;
}

.ourfeatures_img_profile {
  border-radius: 50%;
  background-color: #2b2b2b;
  box-shadow: 0 0 0 12px #2b2b2b;
}

/* ------------------------------------ */
.ourfeatures_arrow_right {
  position: relative;
  top: 135px;
  left: -4%;
  display: flex;
}
.ourfeatures_arrow_right span {
  display: block;
  width: 16px;
  height: 16px;
  border-bottom: 3px solid #2c2c2c;
  border-right: 3px solid #2c2c2c;
  margin: -16px 0;
  animation: ourfeatures-arrow-right 2s infinite;
  transform: rotate(135deg);
}

.ourfeatures_arrow_right span:nth-child(2) {
  animation-delay: -0.2s;
}
.ourfeatures_arrow_right span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes ourfeatures-arrow-right {
  0% {
    opacity: 0;
    transform: translateX(0) rotate(135deg);
  }
  50% {
    opacity: 1;
    transform: translateX(-30px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px) rotate(135deg);
  }
}

/* ------------------ */

.ourfeatures_arrow_left {
  position: relative;
  top: 135px;
  left: 5%;
  display: flex;
}
.ourfeatures_arrow_left span {
  display: block;
  width: 16px;
  height: 16px;
  border-bottom: 3px solid #2c2c2c;
  border-right: 3px solid #2c2c2c;
  margin: -16px 0;
  animation: ourfeatures-arrow-left 2s infinite;
  transform: rotate(-45deg);
}

.ourfeatures_arrow_left span:nth-child(2) {
  animation-delay: -0.2s;
}

.ourfeatures_arrow_left span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes ourfeatures-arrow-left {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(-45deg);
  }
  50% {
    opacity: 1;
    transform: translateX(30px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(60px) rotate(-45deg);
  }
}

/* ----------------Пульсация текста-------------------------- */

/* @keyframes pulseText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ourfeatures_text_people,
.ourfeatures_text_lamp,
.ourfeatures_text_profile {
  animation: pulseText 1s infinite;
} */
/* -------------------Движение элементов------------------------------ */

/* @keyframes moveLamp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.ourfeatures_item_lamp {
  animation: moveLamp 4s infinite ease-in-out;
} */

/* ------------ Вращение иконки--------------- */

/* @keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ourfeatures_img_people {
  animation: rotateIcon 5s infinite linear;
} */

/* --------------------------------------------------- */
