.ourfeatures_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourfeatures_subtitle {
  font-size: 16px;
  color: #313234;
  margin-bottom: 16px;
}

.ourfeatures_title {
  font-size: 26px;
  margin-bottom: 20px;
}

.ourfeatures_item {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2b2c2f;
  background-color: #191a1d;
  margin-bottom: 16px;
}

.ourfeatures_item_title {
  font-size: 24px;
  margin-bottom: 12px;
}

.ourfeatures_item_text {
  font-size: 14px;
  color: #848484;
  margin-bottom: 16px;
}

.ourfeatures_list_subtitle {
  width: 278px;
  margin: 0 auto;
}

/* --------------------------Scalability--360px------------------------------------------ */
.ourfeatures_wrap_img_scalability_general {
  padding: 0 10px;
}

.ourfeatures_img_scalability_list {
  display: flex;
  justify-content: space-between;
}
/* ---TrendUp--AddSquare--360px--- */
.ourfeatures_wrap_img_scalability_general .ourfeatures_item_trendup {
  align-self: flex-start;
}
.ourfeatures_wrap_img_scalability_general .ourfeatures_item_addsquare {
  align-self: flex-end;
}

.ourfeatures_item_trendup,
.ourfeatures_item_addsquare {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  z-index: 5;
  position: relative;
}

.ourfeatures_text_trendup,
.ourfeatures_text_addsquare {
  color: #ffcc01;
  font-family: var(--font-fira-code);
  font-size: 5px;
  font-weight: 450;
  line-height: 1.5;
  padding: 1px 4px;
  border-radius: 11px;
  border: 1px solid #5e5e5e;
  background-color: #2b2b2b;
}

.ourfeatures_trendup_svg,
.ourfeatures_addsquare_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2b2b2b;
  padding: 9px;
}

.decor_trendup::before {
  position: absolute;
  content: '';
  border-left: 2px solid #5e5e5e;
  border-bottom: 2px solid #5e5e5e;
  width: 90px;
  height: 52px;
  top: 32px;
  left: 29px;
  border-radius: 0 0 0 11px;
  z-index: -1;
}

.decor_addsquare::before {
  position: absolute;
  content: '';
  border-right: 2px solid #5e5e5e;
  border-top: 2px solid #5e5e5e;
  width: 82px;
  height: 52px;
  bottom: 31.5px;
  right: 22px;
  border-radius: 0px 11px 0px 0px;
  z-index: -1;
}

.decor_square::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #b89600;
  top: 80px;
  left: 70px;
  transform: rotate(45deg);
}

.decor_rhombus::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #b89600;
  top: -26px;
  left: -15px;
  transform: rotate(45deg);
}

.decor_trendup::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffcc01;
  border-radius: 50%;
  animation:
    moveBallTrendup 4s linear infinite,
    ballTrail 4s linear infinite;
}

@keyframes moveBallTrendup {
  0% {
    opacity: 1;
    top: 33.5px;
    left: 27px;
  }
  33% {
    opacity: 1;
    top: calc(33.5px + 52px - 6px);
    left: 27px;
  }
  66% {
    opacity: 1;
    top: calc(33.5px + 52px - 6px);
    left: calc(27px + 90px - 6px);
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 33.5px;
    left: 27px;
  }
}

.decor_addsquare::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffcc01;
  border-radius: 50%;
  animation:
    moveBallAddsquare 4s linear infinite,
    ballTrail 4s linear infinite;
}

@keyframes moveBallAddsquare {
  0% {
    opacity: 1;
    bottom: 33.5px;
    right: 20px;
  }
  33% {
    opacity: 1;
    bottom: calc(33.5px + 52px - 6px);
    right: 20px;
  }
  66% {
    opacity: 1;
    bottom: calc(33.5px + 52px - 6px);
    right: calc(20px + 82px - 6px);
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    bottom: 33.5px;
    right: 20px;
  }
}

@keyframes ballTrail {
  0% {
    box-shadow:
      0 0 6px 2px rgba(255, 204, 1, 0.5),
      0 0 12px 4px rgba(255, 204, 1, 0.3),
      0 0 18px 6px rgba(255, 204, 1, 0.1);
  }
  50% {
    box-shadow:
      0 0 3px 1px rgba(255, 204, 1, 0.5),
      0 0 9px 3px rgba(255, 204, 1, 0.3),
      0 0 15px 5px rgba(255, 204, 1, 0.1);
  }
  100% {
    box-shadow:
      0 0 0px 0px rgba(255, 204, 1, 0.5),
      0 0 0px 0px rgba(255, 204, 1, 0.3),
      0 0 0px 0px rgba(255, 204, 1, 0.1);
  }
}

/*---Driver--360px--- */
.ourfeatures_item_wrap_text_driver {
}

.ourfeatures_list_text_driver {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
}

.ourfeatures_item_driver {
}

.driver_three {
  padding: 13px;
  background-color: rgba(115, 115, 115, 0.05);
  border-radius: 50%;
  border: 1px dashed rgba(94, 94, 94, 0.35);
  animation: blinkDriverthree 4s infinite;
}

.driver_second {
  padding: 12px;
  background-color: rgba(48, 48, 48, 0.37);
  border-radius: 50%;
  border: 1px dashed rgba(94, 94, 94, 0.74);
}

.driver_first {
  padding: 17px;
  background-color: #2b2b2b;
  border-radius: 50%;
  border: 1px dashed #4e4e4e;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blinkDriverthree {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.ourfeatures_item_text_driver {
  position: absolute;
  top: 98px;
  left: 16%;
  z-index: 20;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 11px;
  border: 1px solid #5e5e5e;
  background-color: #2b2b2b;
}

.ourfeatures_text_driver {
  color: #f2cb12;
  font-family: var(--font-fira-code);
  font-size: 6px;
  font-weight: 450;
  line-height: 1.5;
}

/* ----------------Future-proof architecture-360px------------------------------------ */

.ourfeatures_list_subtitle li {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 8px 8px 16px;
  border-radius: 1440px;
  margin-bottom: 40px;
}

.ourfeatures_list_subtitle p {
  font-family: var(--font-fira-code);
  font-weight: 450;
  border-radius: 1440px;
  width: 214px;
}
.ourfeatures_item_subtitle_first {
  background-color: #1e1f22;
  position: relative;
}

.ourfeatures_item_subtitle_first p {
  background-color: #191a1d;
  padding: 4px 35.05px;
}

.ourfeatures_item_subtitle_second {
  position: relative;
  background-color: #2b2b2b;
}

.ourfeatures_item_subtitle_second p {
  background-color: #242526;
  padding: 4px 33.95px;
}

ul li .ourfeatures_item_subtitle_three {
  background-color: #ffcc01;
}

.ourfeatures_item_subtitle_three p {
  background-color: #edbe01;
  color: #121316;
  padding: 4px 14.16px;
}

@keyframes gradientColorChange {
  0% {
    background: linear-gradient(0deg, #1e1f22, rgba(255, 204, 1, 0.8));
  }
  50% {
    background: linear-gradient(0deg, #1e1f22, #ffcc01);
  }
  100% {
    background: linear-gradient(0deg, #1e1f22, rgba(255, 204, 1, 0.8));
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    background-position: 0% 100%;
    opacity: 0;
  }
}

@keyframes arrowMove {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 38px;
    opacity: 0;
  }
}

.decor_documentcode::before,
.decor_additem::before {
  content: '';
  position: absolute;
  right: 129px;
  top: 49px;
  width: 2px;
  height: 38px;
  background: linear-gradient(0deg, #1e1f22, rgba(255, 204, 1, 0.8));
  background-size: 100% 200%;
  background-position: 0 0;
  animation:
    gradientFlow 4s infinite ease-in-out,
    gradientColorChange 4s infinite ease-in-out;
}

.arrowWrapper {
  position: absolute;
  right: 135px;
  top: 46px;
  height: 38px;
}

.arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid rgba(255, 204, 1, 0.8);
  border-bottom: 2px solid rgba(255, 204, 1, 0.8);
  transform: rotate(45deg);
  position: absolute;
  animation: arrowMove 4s infinite ease-in-out;
  opacity: 0;
}

.arrow {
  animation-delay: 0s;
}
/* --------Comprehensive tech stack-360px----------------------------- */

.ourfeatures_wrap_img_сomprehensive_general {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourfeatures_img_comprehensive_list {
  position: relative;
}

.ourfeatures_item_shieldtick,
.ourfeatures_item_global,
.ourfeatures_item_maximize3 {
  position: absolute;
  visibility: visible;
  pointer-events: none;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----shieldtick--360px---*/

.ourfeatures_item_shieldtick {
  top: 90px;
  left: -16px;
  animation: complexPulse 4s infinite;
}
/* ---global--360px--- */
.ourfeatures_item_global {
  bottom: 168px;
  left: 256px;
  animation: complexPulse 4s infinite;
}

/*---maximize3--360px---*/
.ourfeatures_item_maximize3 {
  bottom: 18px;
  right: 17px;
  animation: complexPulse 4s infinite;
}

@keyframes complexPulse {
  0% {
    transform: scale(1);
    background-color: rgba(39, 40, 43, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1.15);
    background-color: #191a1d;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  }
  100% {
    transform: scale(1);
    background-color: rgba(39, 40, 43, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

/*---codecircle--360px---*/

.ourfeatures_item_codecircle {
  display: flex;
}

.ourfeatures_codecircleborder_first {
  border-radius: 8px;
  border: 1px dashed #656566;
  background: rgba(39, 40, 43, 0.5);
  padding: 19px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourfeatures_codecircleborder_second {
  border-radius: 8px;
  border: 1px dashed rgba(104, 104, 104, 0.33);
  padding: 32px;
}

.ourfeatures_codecircle_border_three {
  border-radius: 8px;
  border: 1px dashed rgba(104, 104, 104, 0.18);
  padding: 32px;
}

/* -----------------------Tailored solutions-360px----------------------------- */

.ourfeatures_img_tailored_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*---people--profile--360---*/

.ourfeatures_item_profile,
.ourfeatures_item_people {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  position: relative;
  z-index: 5;
}

.ourfeatures_profile_svg,
.ourfeatures_people_svg {
  border-radius: 50%;
  background-color: #2b2b2b;
  box-shadow: 0 0 0 9px #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decor_people::before {
  content: '';
  position: absolute;
  border: 1px solid;
  opacity: 18%;
  animation: moveGradient 6s ease-in-out infinite;
  right: -30px;
  top: 39px;
  width: 46px;
  border-image: linear-gradient(to left, #6868683d, #ffcc01) 1;
}

.decor_profile::before {
  content: '';
  position: absolute;
  border: 1px solid;
  opacity: 18%;
  animation: moveGradient 6s ease-in-out infinite;
  left: -30px;
  top: 39px;
  width: 37px;
  border-image: linear-gradient(to right, #6868683d, #ffcc01) 1;
}

.ourfeatures_text_profile,
.ourfeatures_text_people {
  font-family: var(--font-fira-code);
  font-size: 7px;
  font-weight: 450;
  line-height: 1.5;
  color: #ffcc01;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 1px 5px;
  border-radius: 28px;
}

.ourfeatures_text_people {
  white-space: nowrap;
}

@keyframes moveGradient {
  0%,
  100% {
    border-image-source: linear-gradient(to right, #6868683d, #ffcc01);
  }
  50% {
    border-image-source: linear-gradient(to right, #ffcc01, #6868683d);
  }
}

/*---lamp-360---*/
.ourfeatures_item_wrap_text_lamp {
  z-index: 5;
}

.ourfeatures_list_text_lamp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.ourfeatures_item_lamp {
}

.outer_circle {
  animation: blinkLamp 3s infinite;
  padding: 19px;
  background-color: #4c441f;
  border: 1px solid #554d2a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_first {
  animation: blinkLamp 4s infinite;
  padding: 14px;
  background: radial-gradient(
    circle,
    rgba(36, 37, 38, 1) 80%,
    rgba(36, 37, 38, 1) 100%
  );
  border: 1px solid #2f3031;
  border-radius: 50%;
}

.circle_second {
  animation: blinkLamp 4s infinite;
  padding: 16px;
  background: radial-gradient(
    circle,
    rgba(30, 31, 34, 1) 80%,
    rgba(30, 31, 34, 1) 100%
  );
  border: 1px solid #292a2d;
  border-radius: 50%;
}

.ourfeatures_item_text_lamp {
  position: absolute;
  display: inline-block;
  background-color: #2b2b2b;
  border: 1px solid #5e5e5e;
  padding: 3px;
  border-radius: 11px;
}

.ourfeatures_text_lamp {
  font-family: var(--font-fira-code);
  font-size: 8px;
  font-weight: 450;
  line-height: 1.5;
  color: #f2cb12;
}

@keyframes blinkLamp {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
}

/* ------------arrow_right--arrow_left--360px---------------------- */

.ourfeatures_arrow_right,
.ourfeatures_arrow_left {
  display: flex;
  position: absolute;
}

.ourfeatures_arrow_right span,
.ourfeatures_arrow_left span {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-bottom: 3px solid #2c2c2c;
  border-right: 3px solid #2c2c2c;
}

.ourfeatures_arrow_right span {
  top: 0.5px;
  left: 254px;
  transform: rotate(135deg);
  animation: ourfeatures-arrow-right 2s infinite;
}

.ourfeatures_arrow_left span {
  top: 0.5px;
  right: -40px;
  transform: rotate(-45deg);
  animation: ourfeatures-arrow-left 2s infinite;
}

@keyframes ourfeatures-arrow-right {
  0% {
    opacity: 0;
    transform: translateX(0) rotate(135deg);
  }
  50% {
    opacity: 1;
    transform: translateX(-15px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-35px) rotate(135deg);
  }
}

@keyframes ourfeatures-arrow-left {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(-45deg);
  }
  50% {
    opacity: 1;
    transform: translateX(15px) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translateX(35px) rotate(-45deg);
  }
}

.ourfeatures_arrow_left span:nth-child(2) {
  animation-delay: 0.2s;
}

.ourfeatures_arrow_left span:nth-child(3) {
  animation-delay: 0.4s;
}

.ourfeatures_arrow_right span:nth-child(2) {
  animation-delay: -0.2s;
}
.ourfeatures_arrow_right span:nth-child(3) {
  animation-delay: -0.4s;
}

/* -------------------------------768px-------------------------- */
@media screen and (min-width: 768px) {
  .ourfeatures_section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .ourfeatures_subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ourfeatures_title {
    font-size: 42px;
    margin-bottom: 32px;
  }

  .ourfeatures_item {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
  }

  .ourfeatures_item_title {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .ourfeatures_item_text {
    font-size: 16px;
  }

  /* --------------------------Scalability--768px------------------------------------------ */
  .ourfeatures_wrap_img_scalability_general {
    padding: 0px;
  }

  /*---TrendUp--AddSquare--768px---*/

  .ourfeatures_item_trendup,
  .ourfeatures_item_addsquare {
    gap: 40px;
  }

  .ourfeatures_text_trendup,
  .ourfeatures_text_addsquare {
    padding: 3px 9px;
    border-radius: 28px;
    font-size: 14px;
  }

  .ourfeatures_trendup_svg,
  .ourfeatures_addsquare_svg {
    padding: 12px;
  }

  /* ---------------- */
  .decor_trendup::before {
    border-left: 2.5px solid #5e5e5e;
    border-bottom: 2.5px solid #5e5e5e;
    width: 199px;
    height: 134px;
    top: 32px;
    left: 79px;
  }

  .decor_addsquare::before {
    border-right: 2.5px solid #5e5e5e;
    border-top: 2.5px solid #5e5e5e;
    width: 176px;
    height: 110.5px;
    bottom: 55.5px;
    right: 60px;
  }

  /* ---------------- */
  .decor_square::before {
    width: 10px;
    height: 10px;
    top: 160px;
    left: 162px;
  }

  .decor_rhombus::before {
    width: 10px;
    height: 10px;
    top: -44.5px;
    left: -10px;
  }
  /* ---------------------------- */
  .decor_trendup::after {
    width: 10px;
    height: 10px;
    animation:
      moveBallTrendup 6s linear infinite,
      ballTrail 6s linear infinite;
  }

  @keyframes moveBallTrendup {
    0% {
      opacity: 1;
      top: 35px;
      left: 75px;
    }
    33% {
      opacity: 1;
      top: calc(35px + 134px - 10px);
      left: 75px;
    }
    66% {
      opacity: 1;
      top: calc(35px + 134px - 10px);
      left: calc(75px + 199px - 10px);
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      top: 35px;
      left: 75px;
    }
  }

  .decor_addsquare::after {
    width: 10px;
    height: 10px;
    animation:
      moveBallAddsquare 6s linear infinite,
      ballTrail 6s linear infinite;
  }

  @keyframes moveBallAddsquare {
    0% {
      opacity: 1;
      bottom: 60px;
      right: 56px;
    }
    33% {
      opacity: 1;
      bottom: calc(60px + 110.5px - 10px);
      right: 56px;
    }
    66% {
      opacity: 1;
      bottom: calc(60px + 110.5px - 10px);
      right: calc(56px + 176px - 10px);
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      bottom: 60px;
      right: 56px;
    }
  }

  /*---Driver--768px--- */

  .ourfeatures_list_text_driver {
    margin-bottom: 22px;
    margin-top: 22px;
  }

  .driver_three {
    padding: 35px;
    animation: blinkDriverthree 6s infinite;
  }

  .driver_second {
    padding: 30px;
  }

  .driver_first {
    padding: 43px;
  }

  .ourfeatures_item_text_driver {
    top: 246px;
    left: 16%;
    padding: 7px 9px;
  }

  .ourfeatures_text_driver {
    font-size: 16px;
  }

  @keyframes blinkDriverthree {
    0% {
      opacity: 0.3;
    }
    25% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  /* --------Comprehensive tech stack-768px----------------------------- */
  .ourfeatures_wrap_img_сomprehensive_general {
    padding: 13px 158px;
  }

  /*---shieldtick--768px---*/

  .ourfeatures_item_shieldtick {
    top: 105px;
    left: -16px;
  }
  /*--global--768px---*/
  .ourfeatures_item_global {
    bottom: 200px;
    left: 309px;
  }

  /*---maximize3--768px---*/
  .ourfeatures_item_maximize3 {
    bottom: 19px;
    right: 21px;
  }

  /*---codecircle--768px---*/

  .ourfeatures_codecircleborder_first {
    padding: 18px 53px;
  }

  .ourfeatures_codecircleborder_second {
    padding: 40px;
  }
  .ourfeatures_codecircle_border_three {
    padding: 35px;
  }

  /* ---------------------Tailored solutions--768px---------------------- */

  .ourfeatures_wrap_img_tailored_general {
    padding-top: 16px;
  }

  /* ---people--profile-768px---*/

  .ourfeatures_item_profile,
  .ourfeatures_item_people {
    gap: 19px;
    padding-top: 45px;
  }

  .decor_people::before {
    width: 118px;
    top: 49%;
    right: -85.5px;
  }

  .decor_profile::before {
    width: 101px;
    top: 49%;
    left: -85.5px;
  }

  .ourfeatures_text_people,
  .ourfeatures_text_profile {
    font-size: 14px;
    padding: 3px 9px;
  }

  .ourfeatures_profile_svg,
  .ourfeatures_people_svg {
    box-shadow: 0 0 0 12px #2b2b2b;
  }

  /*---lamp--768px---*/

  .outer_circle {
    padding: 39px;
  }

  .circle_first {
    padding: 30px;
  }

  .circle_second {
    padding: 35px;
  }

  .ourfeatures_item_text_lamp {
    padding: 7px 9px;
  }

  .ourfeatures_text_lamp {
    font-size: 16px;
  }

  /* ------------arrow_right--768px---------------------- */

  .ourfeatures_arrow_right span {
    top: 0.5px;
    left: 560px;
    width: 16px;
    height: 16px;
  }

  /* -------arrow_left--768px--------- */

  .ourfeatures_arrow_left span {
    top: 0.5px;
    right: -85px;
    width: 16px;
    height: 16px;
  }

  @keyframes ourfeatures-arrow-right {
    0% {
      opacity: 0;
      transform: translateX(0) rotate(135deg);
    }
    50% {
      opacity: 1;
      transform: translateX(-30px) rotate(135deg);
    }
    100% {
      opacity: 0;
      transform: translateX(-60px) rotate(135deg);
    }
  }

  @keyframes ourfeatures-arrow-left {
    0% {
      opacity: 0;
      transform: translateX(0px) rotate(-45deg);
    }
    50% {
      opacity: 1;
      transform: translateX(30px) rotate(-45deg);
    }
    100% {
      opacity: 0;
      transform: translateX(60px) rotate(-45deg);
    }
  }
}
/* --------------------1440px------------------- */

@media screen and (min-width: 1440px) {
  .ourfeatures_section {
    padding-bottom: 56px;
  }
  .ourfeatures_subtitle {
    margin-bottom: 32px;
  }

  .ourfeatures_title {
    margin-bottom: 64px;
  }

  .ourfeatures_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
  }

  .ourfeatures_item {
    margin-bottom: 0px;
  }

  .ourfeatures_item:first-child,
  .ourfeatures_item:last-child {
    width: 706px;
  }

  .ourfeatures_item:nth-child(2),
  .ourfeatures_item:nth-child(3) {
    width: 434px;
  }
}
