.navbar_mobile {
}

.header {
  padding: 0px;
  padding-top: 20px;
  max-width: 100%;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger_icons {
  margin-right: 20px;
}

/* ------------ */

.header_contact_us_link {
  color: #f2cb12;
  font-size: 18px;
  font-weight: 500;
}

.header_contact_us_link:hover,
.header_contact_us_link:focus,
.header_contact_us_link:active {
  color: #ffd923;
}

.header_mob_tab_nav_item link,
.header_desk_nav_item link {
  font-size: 16px;
}

/* -------------------------MOB-------------------- */

.header_mob_tab_wrap_nav {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  width: 100vw;
  /* добавить media для height от 768 28-30vh */
  height: 350px;
  z-index: 10;
  padding: 20px 15px 0 15px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #191a1d;
}

.header_background_open,
.header_mob_tab_wrap_nav {
  background-color: #191a1d;
}

.header_mob_tab_nav_item {
  border-bottom: 1px solid #2b2c2f;
  padding: 16px 0;
}

.header_mob_tab_nav_item:first-child {
  padding-top: 0;
}

.header_mob_tab_nav_item:last-child {
  padding: 16px 0 0;
  border-bottom: none;
}

.header_mob_tab_nav_item span,
.header_mob_tab_nav_item .header_mob_nav_dash {
  opacity: 0;
  transition: opacity 1.1s allow-discrete;
  display: none;
}

.header_mob_tab_nav_item .header_mob_nav_dash {
  display: inline;
  opacity: 1;
}

.header_mob_tab_nav_item:hover span,
.header_mob_tab_nav_item:hover .header_mob_nav_dash {
  display: inline;
  opacity: 1;
  color: #f2cb12;
}

@starting-style {
  .header_mob_tab_nav_item:hover span {
    opacity: 0;
  }
}

/* ---------------DESK-------------------- */

.header_desk_wrap_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_desk_nav_list {
  display: flex;
  gap: 40px;
}

.header_desk_nav_item span {
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.header_desk_nav_item span.header_desk_nav_dash {
  color: inherit;
  opacity: 1;
}

.header_desk_nav_item span:hover {
  color: #f2cb12;
  opacity: 1;
}

/* ----------------------------------------- */
/* .header_mobile_navigation_quote,
.header_tablet_navigation_quote {
  opacity: 0;
  height: 0;
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.header_mobile_navigation_link:hover .header_mobile_navigation_quote,
.header_mobile_navigation_link:focus .header_mobile_navigation_quote,
.header_mobile_navigation_link:active .header_mobile_navigation_quote,
.header_tablet_navigation_link:hover .header_tablet_navigation_quote,
.header_tablet_navigation_link:focus .header_tablet_navigation_quote,
.header_tablet_navigation_link:active .header_tablet_navigation_quote {
  opacity: 1;
  height: auto;
}  */

/* .header_desk_nav_item span {
    opacity: 0;
  height: 0;
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}


.header_desk_nav_item span:hover {
    opacity: 1;
  height: auto;
} */
